<main class="pt-5 border-bottom border-0">
  <div class="jumbotron m-auto w-50 text-center mt-5 pt-5">
    <form class="form">
      <h1 class="display-6 pb-5">
        Welcome to RECORD OF INCIDENTS & SOLUTIONS, (R.O.I.S)!
      </h1>
      <p class="lead">
        <small>
          R.O.I.S is a learning platform based on real incidents that happened
          in the past and as the functional of the solvent area, which offers an
          interactive way to learn how to quickly and more easily solve the most
          common incidents and also those that do not happen so often. often.

          <br />

          Customizable quizzes and questions, R.O.I.S transforms traditional
          teaching methods into a functional experience!
        </small>
      </p>
      <p class="lead">
        <small
          >An API with many options, measure your talent and knowledge.</small
        >
      </p>
      <hr class="pt-5 border-bottom border-primary border-0" />
      <a class="btn btn-light shadow-sm btn-lg mb-5" [routerLink]="['/home']"
        >Are you ready let's start!</a
      >
    </form>
  </div>
</main>
