<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center">
        <br />
        <br />

        <h1>
          As much as you try to escape your destiny, in the end it always
          arrives and it's already here!
        </h1>

        <br />
        <br />
        <br />

        <div class="container text-center">
          <img src="../../../assets/home.png" width="300" height="300" />
        </div>

        <br />

        <button
          mat-raised-button
          color="primary"
          fragment="shield"
          routerLink="/init"
        >
          ¡INTRODUCTION!.
        </button>
      </div>
    </div>
  </div>
</div>
